* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: steelblue;
}

.header {
  display: flex;
  justify-content: center;

  h1 {
    font-size: 5rem;
  }
}

#game {
  background: #f4f4f4;
  border: 1px solid #333;
  width: 1000px;
  height: 500px;
  margin: 30px auto;
  overflow: hidden;
}

.player {
  position: relative;
  top: 425px;
  left: 10px;
  width: 25px;
  height: 75px;
  background: maroon;
  border-radius: 50% 50% 10% 10%;
}

.jump {
  animation: 1000ms jump;
}

.enemy {
  position: relative;
  top: 375px;
  left: 975px;
  height: 50px;
  width: 65px;
  background: #333;
  animation: 1.5s enemy linear infinite;
  border-radius: 50% 0 0 50%;
  box-shadow: 5px 0 10px gold, 15px 0 20px crimson;
}

@keyframes enemy {
  0% {
    left: 975px
  }

  100% {
    left: -65px
  }
}

@keyframes jump {
  0% {
    top: 425px;
  }

  50% {
    top: 300px;
  }

  100% {
    top: 425px;
  }
}